@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: theme(colors.brand.DEFAULT);
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
